.navbar {
    background-color: black;
}
.nav-link {
    color: #fff;
    margin-right: 6em;
}
.nav-link:hover {
    text-decoration: none;
    pointer-events: none;
}
.nav-link i {
    padding-right: .5em;
}
.footer-link a {
    font-size: .9rem !important;
}