.player {
    background-color: rgb(37, 36, 36);
    height: 10vh;
}
.player-icons {
    width: 13%;
    margin-left: 200px;
}
.player-icons i {
    color: rgb(163, 163, 163);
    font-size: 1.1rem;
}
.bi-play-circle {
    font-size: 1.5rem !important;
}
.player-slide {
    width: 50%;
}
.slider {
    margin-right: 100px;
    margin-bottom: 15px;
    width: 120%;
    height: 2px;
    background-color: rgba(163, 163, 163, 0.329);
}

.title-player {
    font-size: 12px;
}